@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/livvic-v15-latin-500.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}

input {
  outline: none;
}

.site-header {
  padding: 73px 0px 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__left-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}
.header__link:hover {
  color: #F67E7E;
}

.header__btn {
  padding: 10px 32px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 24px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}
.header__btn:hover {
  background-color: white;
  color: #002529;
  border-color: transparent;
  cursor: pointer;
}

.header__menu-icon {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 775px) {
  .site-header {
    padding: 64px 0px 112px;
  }
  .header__logo-link > img {
    width: 127px;
    height: 32px;
  }
  .header__left-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }
}
@media (max-width: 602px) {
  .site-header {
    padding: 48px 0px 80px;
  }
  .header__navbar, .header__btn {
    display: none;
  }
  .header__menu-icon {
    display: block;
    background-color: transparent;
  }
}
.hero-section {
  background-image: url("./../../images/hero-bg-1.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 690px) top;
}

.hero {
  padding-bottom: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-image: url("./../../images/hero-bg-2.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__title-wrapper {
  width: 526px;
}

.hero__title {
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.hero__title--change-color {
  color: #F67E7E;
}

.hero__text-wrapper {
  width: 445px;
}

.hero__line {
  display: block;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}

.hero__text {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

@media (max-width: 664px) {
  .hero {
    padding-bottom: 256px;
    background-position: center bottom;
    flex-direction: column;
    text-align: center;
  }
  .hero__title-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
  .hero__title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }
  .hero__title--change-color {
    color: #F67E7E;
  }
  .hero__title-wrapper {
    width: 100%;
  }
  .hero__text-wrapper {
    width: 100%;
  }
  .hero__line {
    display: none;
  }
  .hero__text {
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }
}
@media (max-width: 456) {
  .hero {
    background-size: contain;
  }
}
.build-section {
  padding: 140px 0px;
  background-color: #012F34;
  background-image: url("../../images/build-bg-1.svg");
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.build {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.build__title-wrapper {
  width: 445px;
}

.build__line {
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  display: block;
  margin-bottom: 54px;
}

.build__title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.build__navbar-wrapper {
  max-width: 540px;
}

.build__navbar {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 32px;
  flex-direction: column;
}

.build__navbar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 23px;
}

.build__navbar-card {
  max-width: 445px;
}

.build__navbar--card-title {
  margin-bottom: 16px;
  color: #F67E7E;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.build__navbar--card-text {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

@media (max-width: 974px) {
  .build-section {
    padding: 100px 0 100px 74px;
    background-position: right top;
  }
  .build {
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
  }
  .build__title-wrapper {
    width: 90%;
  }
  .build__line {
    margin-bottom: 32px;
  }
  .build__title-wrapper {
    margin-bottom: 64px;
  }
  .build__title {
    font-size: 32px;
    line-height: 32px;
  }
  .build__navbar-item {
    width: 100%;
  }
}
@media (max-width: 531px) {
  .build-section {
    padding: 64px 0px;
  }
  .build__title-wrapper {
    width: 75%;
  }
  .build__title-wrapper {
    margin-bottom: 56px;
  }
  .build__navbar-item {
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  .build__navbar--card-title {
    margin-bottom: 8px;
  }
}
.delivery-section {
  padding: 140px 0px;
  background-image: url("./../../images/delivery-bg-1.svg"), url("../../images/delivery-bg-2.svg");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  background-size: 147px 100px, 200px 100px;
}

.delivery__title-wrapper {
  max-width: 932px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 56px;
}

.delivery__title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.delivery__title--change-color {
  color: #79C8C7 !important;
}

.delivery__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}

.delivery__item {
  background-image: url("./../../images/delivery-text-bg.svg");
  background-size: 67px 56px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 36px;
  text-align: center;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.delivery__item > p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 24px;
  transition: all 0.3s;
}

.delivery__item > strong {
  color: #79C8C7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 2px;
  transition: all 0.3s;
}

.delivery__item > i {
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  margin-bottom: 32px;
  transition: all 0.3s;
}

@media (max-width: 753px) {
  .delivery-section {
    padding: 100px 0px;
  }
  .delivery__title {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }
  .delivery__title-wrapper {
    width: 70%;
    margin-bottom: 48px;
  }
  .delivery__list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    flex-direction: column;
  }
  .delivery__item {
    width: 80%;
    margin: 0 auto;
  }
  .delivery__item > p {
    margin-bottom: 16px;
  }
  .delivery__item > i {
    margin-bottom: 16px;
  }
}
@media (max-width: 500px) {
  .delivery-section {
    padding: 140px 0px;
  }
  .delivery__title-wrapper {
    width: 100%;
    margin-bottom: 48px;
  }
  .delivery__item {
    width: 100%;
    margin: 0 auto;
  }
}
.ready-section {
  background-color: #F67E7E;
  padding: 76px 0px;
  background-image: url("./../../images/ready-bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px 144px;
}

.ready__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin: 0 auto;
  max-width: 917px;
}

.ready__title {
  color: #012F34;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.ready_btn {
  padding: 10px 32px 10px;
  background-color: transparent;
  color: #012F34;
  border: 1px solid #012F34;
  border-radius: 24px;
  font-family: "Livvic", sans-serif;
  color: #012F34;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}
.ready_btn:hover {
  background-color: white;
  color: #002529;
  border-color: transparent;
  cursor: pointer;
}
.ready_btn:hover {
  color: white;
  background-color: #012F34;
  border: 1px solid transparent;
}

@media (max-width: 980px) {
  .ready-section {
    background-size: 168px 122px;
  }
  .ready__wrapper {
    max-width: 80%;
  }
  .ready__title {
    color: #012F34;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    transition: all 0.3s;
  }
}
@media (max-width: 670px) {
  .ready-section {
    padding: 83px 0px;
    background-size: 127px 122px;
  }
  .ready__wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 100%;
  }
}
.site-footer {
  padding: 48px 0px;
  background-color: #002529;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.footer__left-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 125px;
}

.footer__logo-wrapper > a {
  display: inline-block;
  margin-bottom: 25px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__links > a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
}
.footer__links > a:hover {
  color: #F67E7E;
}

.footer__logo-right-wrapper > p {
  color: white;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
  opacity: 60%;
}
.footer__logo-right-wrapper > p a {
  color: white;
}

.footer__social-wrapper {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 51px;
  flex-direction: column;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.footer__socials a img {
  transition: filter 0.3s ease;
}

.footer__socials a:hover img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(17%) saturate(857%) hue-rotate(314deg) brightness(99%) contrast(94%);
}

.footer__copyright {
  color: white;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  transition: all 0.3s;
  opacity: 60%;
}

@media (max-width: 821px) {
  .site-footer {
    padding: 56px 0px;
  }
  .footer {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 32px;
  }
  .footer__left-wrapper {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    margin: 0 auto;
  }
  .footer__logo-wrapper > a {
    margin-bottom: 53px;
  }
  .footer__logo-right-wrapper > p {
    text-align: end;
  }
  .footer__social-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .footer {
    padding: 66px 0px;
  }
  .footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer__left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    width: 100%;
  }
  .footer__logo-wrapper > a {
    margin-bottom: 24px;
  }
  .footer__logo-right-wrapper > p {
    text-align: center;
  }
  .footer__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */