$clr-green:#17A550;
$clr-yellow: #FFC728;
$clr-white:white;
$clr-black:black;
$clr-navlink:#1D2F38;
$clr-text:#333333;
$clr-bg: #014E56;
$clr-pink:#79C8C7;
$clr-hover:#F67E7E;
$clr-bg-build:#012F34;


